name: Test

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.8.3'
          host: 'linux'
          target: 'desktop'
          install-deps: 'true'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb

      - name: Run QML Tests
        # Using qml executable provided by Qt installation.
        # -test runs the TestCase elements found in the file.
        # xvfb-run is required because QML tests need a display server.
        run: |
          xvfb-run -a qml -test contents/ui/tst_Singularity.qml
